<div class="d-flex justify-content-center align-items-center">
  <div class="btn-group" dropdown [autoClose]="false">
    <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
      aria-controls="dropdown-basic">
      Certifications Filter <span class="caret"></span>
    </button>
    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu custom-dropdown-width" role="menu"
      aria-labelledby="button-basic">
      <li role="menuitem" class="custom-search p-2">
        <input type="text" [(ngModel)]="searchText" placeholder="Search" class="form-control">
      </li>
      <li class="dropdown-divider"></li>
      <form [formGroup]="filterForm" (ngSubmit)="applyFilters()">
        <div class="scrollable" formArrayName="filters">
          <li role="menuitem" [formGroupName]="i"
            *ngFor="let item of filterFormArray.controls | searchFilter:searchText; let i=index">
            <div class="dropdown-item">
              <!-- {{item.controls['id'].value}}
              {{item.controls['name'].value}}
              {{item.controls['checked'].value}} -->
              <!-- DO NOT USE formControlName below. It causes issue with search formControlName="checked" -->
              <label [for]="item.controls['id'].value"> <input type="checkbox" [formControl]="item.controls['checked']"
                  [id]="item.controls['id'].value">
                {{item.controls['name'].value}}</label>
            </div>
          </li>
        </div>
        <li class="dropdown-divider"></li>
        <li role="menuitem" class="item-filters-action py-2  px-4 d-flex justify-content-between">
          <button class="btn btn-primary applyBtn" type="submit">Apply</button>
          <button class="btn btn-warning cancelBtn" (click)="resetFilters()" type="button">Clear</button>
        </li>
      </form>
    </ul>
  </div>

</div>
<div>
  <div *ngIf="selectedFilters.length > 0; else noFiltersApplied">
    <h6>Applied Filters:</h6>
    <ul>
      <li *ngFor="let filter of selectedFilters">{{filter.name}} - ID: {{filter.id}} - checked: {{filter.checked}}</li>
    </ul>
  </div>
  <ng-template #noFiltersApplied>
    <h6>No filters applied yet</h6>
  </ng-template>
</div>
